﻿@{
    ViewBag.Title = "Form Page";
}
@model Application.ViewModels.GroupViewModel

<h3>User Form</h3>
<div class="container">
    @using (Html.BeginForm("Add", "Groups", FormMethod.Post))
    {
        @Html.HiddenFor(m => m.Id)
        <div class="form-group">
            @Html.LabelFor(model => model.Name, new { @class = "sr-only", @for = "txtVenueID" })
            @Html.TextBoxFor(model => model.Name, new { @class = "form-control", @placeholder = "Name" })
            @Html.ValidationMessageFor(model => model.Name)
        </div>
        <input type="submit" value="Submit" class="btn button-primary" />
    }
</div>