﻿
@{
    ViewBag.Title = "Form Page";
}
@model Application.ViewModels.UserViewModel

<h3>User Form</h3>
<div class="container">
    @using (Html.BeginForm("Add", "Users", FormMethod.Post))
    {
        @Html.HiddenFor(m => m.Id)
        @Html.HiddenFor(m => m.DateUserCreated)
        <div class="form-group">
            @Html.LabelFor(model => model.Username, new { @class = "sr-only", @for = "txtVenueID" })
            @Html.TextBoxFor(model => model.Username, new { @class = "form-control", @placeholder = "Username" })
            @Html.ValidationMessageFor(model => model.Username)
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Email, new { @class = "sr-only", @for = "txtVenueID" })
            @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @placeholder = "Email" })
            @Html.ValidationMessageFor(model => model.Email)
        </div>

        <input type="submit" value="Submit" class="btn button-primary" />
    }
</div>