﻿@{
    ViewBag.Title = "Home Page";
}
@model Application.ViewModels.UsersListViewModel

<div class="container">
    <div class="row mt-2">
        <div class="col-md-4">
            <h3 class="center-block">Users</h3>
        </div>
        <div class="col-md-8">
            <a href="@Url.Action("Add", "Users")" class="btn btn-success float-right">Add</a>
        </div>
    </div>
    <hr />
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Username</th>
                <th scope="col">Email</th>
                <th scope="col">Created</th>
                <th scope="col" class="text-right pr-5">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model.Users)
            {
                <tr>
                    <td>@user.Username</td>
                    <td>@user.Email</td>
                    <td>@user.DateUserCreated</td>
                    <td>
                        <a href="@Url.Action("Delete", "Users", new { id = user.Id})" class="btn btn-outline-danger float-right mr-1">Delete</a>
                        <a href="@Url.Action("Edit", "Users", new { id = user.Id})" class="btn btn-primary float-right mr-1">Edit</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>